In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [5]:
randn(25).reshape((5,5))

array([[-2.13761856,  0.20873096,  0.43508448,  2.23205169, -1.79778948],
       [ 0.9164022 ,  0.69964308,  0.84551055, -1.10477228, -1.714244  ],
       [ 0.19659897,  0.44770499, -0.59803404,  1.44514882, -1.8722504 ],
       [ 1.67219491,  0.11194012, -0.15446448, -1.26517733,  0.58182538],
       [-2.57401546,  1.13700574, -1.74866897,  1.0594288 ,  1.80503456]])

In [7]:
 dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','C','D','E'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.917564  0.172608 -1.495318  0.123499 -1.173087
B  0.508116  1.113088 -0.668134  0.828096  0.703752
C -2.413800  1.286642  1.233066 -0.616217  0.186943
D -0.555447 -0.696406  0.356831  0.847577  0.393020
E -0.267670  0.453009 -0.373289  1.438690 -1.380211

In [8]:
dframe.reindex(['A','B','C','D','E','F'])

       col1      col2      col3      col4      col5
A  0.917564  0.172608 -1.495318  0.123499 -1.173087
B  0.508116  1.113088 -0.668134  0.828096  0.703752
C -2.413800  1.286642  1.233066 -0.616217  0.186943
D -0.555447 -0.696406  0.356831  0.847577  0.393020
E -0.267670  0.453009 -0.373289  1.438690 -1.380211
F       NaN       NaN       NaN       NaN       NaN

In [10]:
dframe.reindex(columns=['col1','col2','col3','col4','col5','col6'])

       col1      col2      col3      col4      col5  col6
A  0.917564  0.172608 -1.495318  0.123499 -1.173087   NaN
B  0.508116  1.113088 -0.668134  0.828096  0.703752   NaN
C -2.413800  1.286642  1.233066 -0.616217  0.186943   NaN
D -0.555447 -0.696406  0.356831  0.847577  0.393020   NaN
E -0.267670  0.453009 -0.373289  1.438690 -1.380211   NaN

In [11]:
dframe.drop('A')

       col1      col2      col3      col4      col5
B  0.508116  1.113088 -0.668134  0.828096  0.703752
C -2.413800  1.286642  1.233066 -0.616217  0.186943
D -0.555447 -0.696406  0.356831  0.847577  0.393020
E -0.267670  0.453009 -0.373289  1.438690 -1.380211

In [13]:
dframe.drop('col3',axis=1)

       col1      col2      col4      col5
A  0.917564  0.172608  0.123499 -1.173087
B  0.508116  1.113088  0.828096  0.703752
C -2.413800  1.286642 -0.616217  0.186943
D -0.555447 -0.696406  0.847577  0.393020
E -0.267670  0.453009  1.438690 -1.380211

In [14]:
dframe[0:3]

       col1      col2      col3      col4      col5
A  0.917564  0.172608 -1.495318  0.123499 -1.173087
B  0.508116  1.113088 -0.668134  0.828096  0.703752
C -2.413800  1.286642  1.233066 -0.616217  0.186943

In [16]:
dframe[['col1','col2']]

       col1      col2
A  0.917564  0.172608
B  0.508116  1.113088
C -2.413800  1.286642
D -0.555447 -0.696406
E -0.267670  0.453009

In [17]:
dframe.ix['A']

/Users/bkdas/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

col1    0.917564
col2    0.172608
col3   -1.495318
col4    0.123499
col5   -1.173087
Name: A, dtype: float64

In [18]:
dframe.sum()

col1   -1.811236
col2    2.328941
col3   -0.946844
col4    2.621644
col5   -1.269585
dtype: float64

In [19]:
dframe.sum(axis=1)

A   -1.454735
B    2.484918
C   -0.323366
D    0.345576
E   -0.129471
dtype: float64

In [21]:
dframe.idxmin()

col1    C
col2    D
col3    A
col4    C
col5    E
dtype: object

In [22]:
dframe.cumsum()

       col1      col2      col3      col4      col5
A  0.917564  0.172608 -1.495318  0.123499 -1.173087
B  1.425680  1.285696 -2.163452  0.951595 -0.469336
C -0.988119  2.572338 -0.930386  0.335378 -0.282393
D -1.543566  1.875932 -0.573554  1.182954  0.110627
E -1.811236  2.328941 -0.946844  2.621644 -1.269585

In [23]:
dframe.describe()

           col1      col2      col3      col4      col5
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean  -0.362247  0.465788 -0.189369  0.524329 -0.253917
std    1.289437  0.795237  1.035640  0.789672  0.954388
min   -2.413800 -0.696406 -1.495318 -0.616217 -1.380211
25%   -0.555447  0.172608 -0.668134  0.123499 -1.173087
50%   -0.267670  0.453009 -0.373289  0.828096  0.186943
75%    0.508116  1.113088  0.356831  0.847577  0.393020
max    0.917564  1.286642  1.233066  1.438690  0.703752